@media (max-width: 770px) { /*FLECHAS DEL CAROUSEL*/
  .left{
    display: none;
  }
  .right{
    display: none;
  }
}
@media (max-width: 296px) { /*CAMBIA TAMAÑO DE LA IMAGEN*/
  #site-header a img{
    width: 180px;
    height: 50px;
    margin-top: 5px;
  }
}
@media (max-width: 770px) { /*FLECHAS DEL CAROUSEL*/
  #site-header a img{
    width: 180px;
    height: 50px;
    margin-top: 5px;
  }
}
@media (max-width: 488px) { /*OCULTAR TEXTO BARRA SUPERIOR*/
  #hide {
    display: inline;
  }
  #unhide {
    display: none;
  }
}
@media (min-width: 489px) { /*MOSTRAR TEXTO BARRA SUPERIOR*/
  #hide {
    display: none;
  }
  #unhide {
    display: inline;
  }
}

@media (min-width: 768px) and (max-width: 1198px) { /*AJSUTA TAMAÑO DE LA IMAGEN DEL LOGO*/
  #site-header a img{
    width: 220px;
  }
}

.nav > li > a{
	font-size: 16px;
}

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

.jumbotron{
  margin-bottom: -20px;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  /*margin-bottom: 60px;*/
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}



/*AQUI LO DE ABAJO*/
/*=============================================================
    Authour URL: www.designbootstrap.com
    
    http://www.designbootstrap.com/

    License: MIT     
========================================================  */

/*============================================================
BACKGROUND COLORS
============================================================*/
.db-bk-color-one {
    background-color: #46A6F7;
}

.db-bk-color-two {
    background-color: #46A6F7;
}

.db-bk-color-three {
    background-color: #46A6F7;
}

.db-bk-color-six {
    background-color: #46A6F7;
}
/*============================================================
PRICING STYLES
==========================================================*/
.db-padding-btm {
    padding-bottom: 0px;
}
.db-button-color-square {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
}

    .db-button-color-square:hover {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.50);
        border: none;
    }


.db-pricing-eleven {
    margin-bottom: 10px;
    margin-top: 50px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    color: #fff;
    line-height: 30px;
}

    .db-pricing-eleven ul {
        list-style: none;
        margin: 0;
        text-align: center;
        padding-left: 0px;
    }

        .db-pricing-eleven ul li {
            padding-top: 20px;
            padding-bottom: 20px;
            cursor: pointer;
        }

            .db-pricing-eleven ul li i {
                margin-right: 5px;
            }


    .db-pricing-eleven .price {
        background-color: rgba(0, 0, 0, 0.5);
        padding: 40px 20px 20px 20px;
        font-size: 60px;
        font-weight: 900;
        color: #FFFFFF;
    }

        .db-pricing-eleven .price small {
            color: #B8B8B8;
            display: block;
            font-size: 12px;
            margin-top: 22px;
        }

    .db-pricing-eleven .type {
        background-color:  #2c3e50 ;
        padding: 50px 20px;
        font-weight: 900;
        text-transform: uppercase;
        font-size: 30px;
    }

    .db-pricing-eleven .pricing-footer {
        padding: 20px;
    }

.db-attached > .col-lg-4,
.db-attached > .col-lg-3,
.db-attached > .col-md-4,
.db-attached > .col-md-3,
.db-attached > .col-sm-4,
.db-attached > .col-sm-3 {
    padding-left: 0;
    padding-right: 0;
}

.db-pricing-eleven.popular {
    margin-top: 10px;
}

    .db-pricing-eleven.popular .price {
        padding-top: 80px;
    }


/*TOP NAVBAR*/
.top_bar { min-height:40px; /* 
background: #30bed6; /* Old browsers */
background: -moz-linear-gradient(left, #1F618D 0%, #38cac9 100%); /* FF3.6-15   (left, #30bed6 0%, #38cac9 100%)*/
background: -webkit-linear-gradient(left, #1F618D 0%,#38cac9 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #1F618D 0%,#38cac9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30bed6', endColorstr='#38cac9',GradientType=1 ); /* IE6-9 */}

.social { list-style-type:none; margin-bottom:0px; float:left; padding:0px; margin-left:0px;}
.social li { float:left;}
.social li a { padding:0 10px; font-size:13px; line-height:40px; color:#FFF;}

.rightc { list-style-type:none; margin-bottom:0px; float:right;}
.rightc li { margin:0px 10px; font-size:13px; float:left; line-height:40px; color:#FFF;}
.rightc li a {   color:#FFF; }

.navbar-brand img { margin-top:0px; margin-left:0px;}
.navbar-brand {padding:0px;}

.header_image { margin-top:-70px; float:left;}
.nav.navbar-nav.navbar-right span {font-family: 'Open Sans', sans-serif; font-style:italic; font-weight:300; color:#1b6977;}
.navbar-right li a {font-family: 'Open Sans', sans-serif; font-size:16px; color:#1b6977 !important;}

/*WORDPRESS CONTACT FORM*/
.wpcf7-form { 
  margin-bottom:0px; 
  border-radius:2px;
}
 
.wpcf7-form input { 
  background:#fff; 
  padding:5px 7px; 
  margin-bottom:8px; 
  border-radius:3px;
  width: 100%;
  color: #444242;
}
 
.wpcf7-text {
  width: 100%;
  color: #444242;
}

.wpcf7-form textarea { 
  background:#fff; 
  padding:3px 0px 5px 7px; 
  border-radius:3px;
  width: 250px;
  max-height: 227px;
  color: #444242;
  float: top;
}
 
.wpcf7-form p { 
  color:#000; 
  margin-top:10px;
  padding-top: 10px;
}
 
.wpcf7-form .wpcf7-submit { 
  background:#2E86C1;
  cursor:pointer; 
  color:#fff; 
  width: 130px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.wpcf7-form .wpcf7-submit-green { 
  background:#2ECC71;
  cursor:pointer; 
  color:#fff; 
  width: 130px;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.wpcf7 input[type="tel"] {
  color: #444242;
  margin-bottom:10px; 
  border-radius:3px;
  padding:3px 0px 5px 7px;
  width: 400px;
}

/*RESPONSIVE MAP*/
.map-responsive{
    overflow:hidden;
    padding-bottom:27.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    max-height: 700px;
    width:100%;
    position:absolute;
}

/*PRODUCTOS 1
.productbox {
    background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
  padding:5px 0 5px 0;
}

.productprice {
  border-top:1px solid #dadada;
  padding-top:5px;
}

.pricetext {
  font-weight:bold;
  font-size:1.4em;
}*/


/*PRODUCTOS 2*/
    h4{
      font-weight: 600;
  }
  p{
    font-size: 12px;
    margin-top: 5px;
  }
  .price{
    font-size: 15px;
      margin: 0 auto;
      color: #333;
  }
  .right{
    float:right;
    border-bottom: 2px solid #4B8E4B;
  }
  .thumbnail{
    opacity:0.70;
    -webkit-transition: all 0.5s; 
    transition: all 0.5s;
  }
  .thumbnail:hover{
    opacity:1.00;
    box-shadow: 0px 0px 10px #4bc6ff;
  }
  .line{
    margin-bottom: 5px;
  }
  @media screen and (max-width: 770px) {
    .right{
      float:left;
      width: 100%;
    }
  }

/*QUE OFRECEMOS*/
        body{
    font-family: 'Roboto', sans-serif;
}
        center>img{
            position: relative;
margin-top: -24%;
        }
        .well{
            background: #fff;
            box-shadow: 0 0 0 0;
            border: 0px;
        }
        .jumbotron{
            background: #fff;
        }
        
        .base-padding{
            padding: 3% 0;
        }
        .well.pricing-table{
/*            padding: 3%;*/
            background: #fff;
            transition:all 0.6s ease-out;
        
        }
         .well.pricing-table:hover{
             box-shadow:0 5px 6px #444;
             cursor:pointer;
         }
        
        .pricing-feature-list{
            padding: 10%;
            background: #444;
            color: #eee;
        }
       .pricing-feature-list .list-group-item {
position: relative;
display: block;
padding: 13px 15px;
margin-bottom: -1px;
background-color: #444;
/* border: 1px solid #6B6B6B; */
font-size: 15px;
           border: 1px solid #444;
/* font-weight: 700; */
border-bottom: 1px solid #595353;
}
        .pricing-table>.pricing-table-holder{
            background: #f9f9f9;
            padding: 6%;
        }
        .btn-info{
            color: #fff;
background-color: #F95353;
border-color: #F95353;
/* border-radius: 0; */
padding: 3%;
transition: all 0.6s ease-in;
        }
        .custom-button-group{
        
background: #f9f9f9;
padding: 0%;
        }
        .btn-royal-blue{
            color: #FFF;
background-color: #23A4F2;
border-color: #23A4F2;
                        transition: all 0.4s ease-in;
        }
        .btn-royal-blue:hover{
            color: #eee;
            transition: all 0.5s ease-in;
        }