<!-- Carousel ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel"><!-- Indicators -->
<div class="carousel-inner">
<div class="item active"><img class="first-slide" src="/wp-content/uploads/carousel1.jpg" alt="First slide" />
<div class="container">
<div class="carousel-caption">
<h1>Bienvenidos a CanoSonic</h1>
Le damos la mas cordial bienvenida y aprovechamos para darles las gracias por preferirnos como su empresa aliada. En esta pagina, encontrara información de su interes en todo lo que se refiere a impresion digital de las marcas Canon y HP.
<br><br>
<a class="btn btn-lg btn-primary" href="#">Contacto</a>

</div>
</div>
</div>
<div class="item"><img class="second-slide" src="/wp-content/uploads/carousel1.jpg" alt="Second slide" />
<div class="container">
<div class="carousel-caption">
<h1>Another example headline.</h1>
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
<br><br>
<a class="btn btn-lg btn-primary" href="#">Learn more</a>

</div>
</div>
</div>
<div class="item"><img class="third-slide" src="/wp-content/uploads/carousel1.jpg" alt="Third slide" />
<div class="container">
<div class="carousel-caption">
<h1>One more for good measure.</h1>
Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
<br><br>
<a class="btn btn-lg btn-primary" href="#">Browse gallery</a>

</div>
</div>
</div>
</div>
<a class="left carousel-control" href="#myCarousel" data-slide="prev">

<span class="sr-only">Previous</span>
</a>
<a class="right carousel-control" href="#myCarousel" data-slide="next">

<span class="sr-only">Next</span>
</a>

</div>
<!-- /.carousel -->
<div class="jumbotron">
<h1 align="center">Proveemos Excelentes Soluciones</h1>
<h3 align="center">Ofertas especiales en cartuchos de impresoras:</h3>
</div>
<!--AQUI LO DE ABAJO-->
<div class="container">
<div class="row db-padding-btm db-attached">
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="db-wrapper">
<div class="db-pricing-eleven db-bk-color-one">
<div class="price"><sup>$</sup>0
<small>por cartucho</small></div>
<div class="type">CL41</div>
<ul>
  <li><i class="glyphicon glyphicon-print"></i>Canon C200 y C300</li>
  <li><i class="glyphicon glyphicon-time"></i>1000 impresiones</li>
  <li><i class="glyphicon glyphicon-trash"></i>Lead Recargable</li>
</ul>
<div class="pricing-footer">

<a class="btn db-button-color-square btn-lg" href="#">ORDENAR</a>

</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="db-wrapper">
<div class="db-pricing-eleven db-bk-color-two popular">
<div class="price"><sup>$</sup>0
<small>por cartucho</small></div>
<div class="type">CL211</div>
<ul>
  <li><i class="glyphicon glyphicon-print"></i>Canon C200 y C300</li>
  <li><i class="glyphicon glyphicon-time"></i>1000 impresiones</li>
  <li><i class="glyphicon glyphicon-trash"></i>Recargable</li>
</ul>
<div class="pricing-footer">

<a class="btn db-button-color-square btn-lg" href="#">ORDENAR</a>

</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="db-wrapper">
<div class="db-pricing-eleven db-bk-color-three">
<div class="price"><sup>$</sup>0
<small>por cartucho</small></div>
<div class="type">PG40</div>
<ul>
  <li><i class="glyphicon glyphicon-print"></i>Canon C200 y C300</li>
  <li><i class="glyphicon glyphicon-time"></i>1000 impresiones</li>
  <li><i class="glyphicon glyphicon-trash"></i>Recargable</li>
</ul>
<div class="pricing-footer">

<a class="btn db-button-color-square btn-lg" href="#">ORDENAR</a>

</div>
</div>
</div>
</div>
<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
<div class="db-wrapper">
<div class="db-pricing-eleven db-bk-color-six">
<div class="price"><sup>$</sup>0
<small>por cartucho</small></div>
<div class="type">PG210</div>
<ul>
  <li><i class="glyphicon glyphicon-print"></i>Canon C200 y C300</li>
  <li><i class="glyphicon glyphicon-time"></i>1000 impresiones</li>
  <li><i class="glyphicon glyphicon-trash"></i>Recargable</li>
</ul>
<div class="pricing-footer">

<a class="btn db-button-color-square btn-lg" href="#">ORDENAR</a>

</div>
</div>
</div>
</div>
</div>
</div>


<div class="jumbotron">
<h1 align="center">Proveemos Excelentes Soluciones</h1>
<h3 align="center">Ofertas especiales en cartuchos de impresoras:</h3>
</div>


<div class="container">
<h1>Calculadora</h1>
<!--<p class="lead">Lista de nuestros productos</p>-->
</div>






<!--<section>
<ul id="gallery">
<li id="fullPreview"></li>
<li>
<a href="/wp-content/uploads/hardwood.jpg"></a>
<img data-original="/wp-content/uploads/hardwood.jpg" src="/wp-content/uploads/2016/10/white.gif"  width="250" height="140" alt="Photo 1"/>
<div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 1</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/laminate.jpg"></a>
                <img data-original="/wp-content/uploads/laminate.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 2</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/tile.jpg"></a>
                <img data-original="/wp-content/uploads/tile.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 3</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
           <li>
                <a href="/wp-content/uploads/carpet.jpg"></a>
                <img data-original="/wp-content/uploads/carpet.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 4</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>

<li><a href="/wp-content/uploads/hardwood.jpg"></a>
<img data-original="/wp-content/uploads/hardwood.jpg" src="/wp-content/uploads/2016/10/white.gif"  width="250" height="140" alt="Photo 1"/>
<div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 1</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/laminate.jpg"></a>
                <img data-original="/wp-content/uploads/laminate.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 2</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/tile.jpg"></a>
                <img data-original="/wp-content/uploads/tile.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 3</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
           <li>
                <a href="/wp-content/uploads/carpet.jpg"></a>
                <img data-original="/wp-content/uploads/carpet.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 4</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
<li><a href="/wp-content/uploads/hardwood.jpg"></a>
<img data-original="/wp-content/uploads/hardwood.jpg" src="/wp-content/uploads/2016/10/white.gif"  width="250" height="140" alt="Photo 1"/>
<div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 1</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/laminate.jpg"></a>
                <img data-original="/wp-content/uploads/laminate.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 2</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
            <li>
                <a href="/wp-content/uploads/tile.jpg"></a>
                <img data-original="/wp-content/uploads/tile.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 3</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
           <li>
                <a href="/wp-content/uploads/carpet.jpg"></a>
                <img data-original="/wp-content/uploads/carpet.jpg" src="/wp-content/uploads/2016/10/white.gif" width="250" height="140" alt="Photo 1" />

                <div class="overLayer"></div>
                <div class="infoLayer">
                    <ul>
                        <li><h2>Photo 4</h2></li>
                        <li><p>View</p></li>
                    </ul>
                </div>
                <div class="projectInfo">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</div>
            </li>
         </ul>
    </section>
<hr>-->
<div class="container text-center">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;" src="/wp-content/uploads/mohawk.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;" src="/wp-content/uploads/armstrong.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;" src="/wp-content/uploads/floridatile.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;" src="/wp-content/uploads/shawfloors.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;" src="/wp-content/uploads/daltile.jpg" alt="Image" />
    </div>
    <div class="col-md-1"></div>
  </div>
</div>



<div class="container">
[contact-form-7 id="57" title="Formulario de contacto 1"]
</div>


<div class="container-fluid">
<div class="col-md-12 well" align="center">
<br>
<label> Nombre (requerido)
    [text* nombre placeholder "Nombre"] </label>

<label> Apellido (requerido)
    [text* apellido placeholder "Apellido"]</label>

<label> Telefono (requerido)
    [text* telefono placeholder "Telefono, ejem:0414-111-2222"]</label>

<label> Correo electrónico (requerido)
    [email* correo placeholder "Correo"] </label>

<label> Asunto
    [text asunto placeholder "Asunto"] </label>

<label> Mensaje
    [textarea mensaje placeholder "Mensaje"] </label>

[submit "Enviar"]
</div>
</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      [text* nombre placeholder "Nombre"]
      [text* apellido placeholder "Apellido"]
      [text* telefono placeholder "Telefono"]
      [email* correo placeholder "Correo"] 
      [text asunto placeholder "Asunto"]
    </div>
    <div class="col-md-6">
      [textarea mensaje placeholder "Mensaje"]
    </div> 
    <div class="col-md-12" align="center">
      [submit "Enviar"]
    </div>
  </div>
</div>





<div class="jumbotron" style="margin-top:-10px">
<h1 align="center">Contacto</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                [contact-form-7 id="57" title="Formulario de contacto 1"]
            </div>
            <div class="well">
                <ul class="social" style="margin-top: -15px">
                  <li><a target="_blank" href="#a"><i class="fa fa-2x fa-facebook text-black" style="color:#000;"></i></a></li>
                  <li><a target="_blank" href="#b"><i class="fa fa-2x fa-twitter text-black" style="color:#000;"></i></a></li>
                  <li><a target="_blank" href="#c"><i class="fa fa-2x fa-instagram text-black" style="color:#000;"></i></a></li>
                  <li><a target="_blank" href="#d"><i class="fa fa-2x fa-envelope-o text-black" style="color:#000;"></i></a></li>
                  <li><a target="_blank" href="tel:+58212-222-3333"><i class="fa fa-2x fa-phone text-black" style="color:#000;"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1135.3527165544242!2d-66.88696229775323!3d10.500466999467953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTDCsDMwJzAxLjciTiA2NsKwNTMnMTEuMCJX!5e1!3m2!1ses!2str!4v1490647715903" width="600" height="386" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
        </div>
    </div>
</div>






<div class="jumbotron" style="margin-top:-20px">
<h1 align="center">Producto</h1>
<h3 align="center">Proveemos todo tipo de [producto] para su oficio</h3>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;padding:10px;" src="/wp-content/uploads/blank.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;padding:10px;" src="/wp-content/uploads/blank.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;padding:10px;" src="/wp-content/uploads/blank.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;padding:10px;" src="/wp-content/uploads/blank.jpg" alt="Image" />
    </div>
    <div class="col-xs-6 col-sm-4 col-md-2">
      <img class="img-responsive img-rounded" style="width: 100%;padding:10px;" src="/wp-content/uploads/blank.jpg" alt="Image" />
    </div>
    <div class="col-md-1"></div>
  </div>
</div>







<div class="jumbotron" style="margin-top:-20px">
<h1 align="center">Producto</h1>
<h3 align="center">Proveemos todo tipo de [producto] para su oficio</h3>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-md-1"></div>
      <div class="col-md-2 column productbox">
          <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">Product 1</div>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">COMPRAR</a></div><div class="pricetext">200 Bs.f</div></div>
      </div>
      <div class="col-md-2 column productbox">
          <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">Product 2</div>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">COMPRAR</a></div><div class="pricetext">200 Bs.f</div></div>
      </div>
      <div class="col-md-2 column productbox">
          <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">Product 3</div>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">COMPRAR</a></div><div class="pricetext">200 Bs.f</div></div>
      </div>
      <div class="col-md-2 column productbox">
          <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">Product 4</div>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">COMPRAR</a></div><div class="pricetext">200 Bs.f</div></div>
      </div>
      <div class="col-md-2 column productbox">
          <img src="http://placehold.it/460x250/e67e22/ffffff&text=HTML5" class="img-responsive">
          <div class="producttitle">Product 5</div>
          <div class="productprice"><div class="pull-right"><a href="#" class="btn btn-danger btn-sm" role="button">COMPRAR</a></div><div class="pricetext">200 Bs.f</div></div>
      </div>
    <div class="col-md-1"></div>
  </div>
</div>



<div class="jumbotron" style="margin-top:-20px">
  <h1 align="center">Producto</h1>
  <h3 align="center">Proveemos todo tipo de [producto] para su oficio</h3>
</div>
<br><br>

<div class="row">
  <div class="col-md-3 col-sm-6">
    <span class="thumbnail">
        <img src="http://placehold.it/500x400" alt="...">
        <h4>Titulo del producto</h4>
        <p>Simple descripción del producto</p>
        <hr class="line">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p class="price">BsF 300.00</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-success right" > COMPRAR</button>
          </div>
          
        </div>
    </span>
  </div>
  <div class="col-md-3 col-sm-6">
    <span class="thumbnail">
        <img src="http://placehold.it/500x400" alt="...">
        <h4>Titulo del producto</h4>
        <p>Simple descripción del producto</p>
        <hr class="line">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p class="price">BsF 300.00</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-success right" > COMPRAR</button>
          </div>
          
        </div>
    </span>
  </div>
  <div class="col-md-3 col-sm-6">
    <span class="thumbnail">
        <img src="http://placehold.it/500x400" alt="...">
        <h4>Titulo del producto</h4>
        <p>Simple descripción del producto</p>
        <hr class="line">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p class="price">BsF 300.00</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-success right" > COMPRAR</button>
          </div>
          
        </div>
    </span>
  </div>
  <div class="col-md-3 col-sm-6">
    <span class="thumbnail">
        <img src="http://placehold.it/500x400" alt="...">
        <h4>Titulo del producto</h4>
        <p>Simple descripción del producto</p>
        <hr class="line">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <p class="price">BsF 300.00</p>
          </div>
          <div class="col-md-6 col-sm-6">
            <button class="btn btn-success right" > COMPRAR</button>
          </div>
          
        </div>
    </span>
  </div>
</div>


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>











<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      [text* nombre placeholder "Nombre"]
      [text* apellido placeholder "Apellido"]
      [text* telefono placeholder "Telefono"]
      [email* correo placeholder "Correo"] 
      [text asunto placeholder "Asunto"]
    </div>
    <div class="col-md-6" align="center">
      [textarea mensaje placeholder "Mensaje"]
    </div> 
    <div class="col-md-6">
      [submit "Enviar"]
    </div>
    <div class="col-md-6" align="center">
      <button type="button" class="wpcf7-form wpcf7-submit" data-toggle="modal" data-target="#myModal">Llamanos</button>
    </div>
  </div>
</div>












<!-- Modal -->
<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Números telefonicos</h4>
      </div>
      <div class="container-fluid">
          <div class="col-md-6 col-xs-6"><b>+58(212)7932847</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+587932847" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(212)7935697</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+587935697" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(212)7936469</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+587936469" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(212)7938513</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+587938513" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(212)7933753</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+587933753" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(412)2357635</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+584122357635" role="button">Llamar</a></div>
          <div class="col-md-6 col-xs-6"><b>+58(416)6259968</b></div>
          <div class="col-md-6 col-xs-6"><a class="btn btn-success" href="tel:+584166259968" role="button">Llamar</a></div>
      </div><br>
    </div>
  </div>
</div>






<div class="jumbotron" style="margin-top:-20px">
    <h1 align="center">¿Que Ofrecemos?</h1>
    <!--<p class="lead">choose from our simple and clear plans</p>-->
</div> 
<div class="container ">
    <div class="row">
        <div class="col-md-3 well pricing-table">
            <div class="pricing-table-holder">
                <center>
                    <img src="/wp-content/uploads/100x100.png" class="img-responsive img-circle" alt="">
                    <h3>CONSUMIBLES</h3>
                    <!--<p class="caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>-->
                </center>
            </div>

            <div class="custom-button-group" style="">
                <div class="col-md-8 col-sm-9" style="padding:0;">
                    <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                      Select Bundle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                <div class="col-md-4 col-sm-3" style="padding:0;">
                    <button class="btn btn-primary  btn-block" style="border-radius:0;" >
                        Get It
                    </button>
                </div>
            </div>
            <div class="pricing-feature-list">
                <ul class="list-group">
                  <li class="list-group-item">Cartuchos de tinta</li>
                  <li class="list-group-item">Toner Laser</li>
                  <li class="list-group-item">Repuestos de Impresoras</li>
                  <li class="list-group-item">Repuestos de Copiadoras</li>
                </ul>
            </div>
            <div class="price-table-button-holder">
                                <button class="btn btn-success btn-block">
                    CONSULTAR
                </button>
            </div>
        </div>
        <div class="col-md-3 well pricing-table">
            <div class="pricing-table-holder">
                <center>
                    <img src="/wp-content/uploads/100x100.png" class="img-responsive img-circle" alt="">
                    <h3>EQUIPOS</h3>
                    <!--<p class="caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>-->
                </center>
            </div>

            <div class="custom-button-group" style="">
                <div class="col-md-8 col-sm-9" style="padding:0;">
                    <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                      Select Bundle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                <div class="col-md-4 col-sm-3" style="padding:0;">
                    <button class="btn btn-primary  btn-block" style="border-radius:0;" >
                        Get It
                    </button>
                </div>
            </div>
            <div class="pricing-feature-list">
                <ul class="list-group">
                  <li class="list-group-item">Fotocopiadoras</li>
                  <li class="list-group-item">Fax</li>
                  <li class="list-group-item">Impresoras</li>
                  <li class="list-group-item">Maquinas de Escribir Electronicas</li>
                  <li class="list-group-item">Calculadoras</li>
                  <li class="list-group-item">Laptops</li>
                </ul>
            </div>
            <div class="price-table-button-holder">
                                <button class="btn btn-success btn-block">
                    CONSULTAR
                </button>
            </div>
        </div>
        <div class="col-md-3 well pricing-table">
            <div class="pricing-table-holder">
                <center>
                    <img src="/wp-content/uploads/100x100.png" class="img-responsive img-circle" alt="">
                    <h3>MOBILIARIO</h3>
                    <!--<p class="caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>-->
                </center>
            </div>

            <div class="custom-button-group" style="">
                <div class="col-md-8 col-sm-9" style="padding:0;">
                    <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                      Select Bundle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                <div class="col-md-4 col-sm-3" style="padding:0;">
                    <button class="btn btn-primary  btn-block" style="border-radius:0;" >
                        Get It
                    </button>
                </div>
            </div>
            <div class="pricing-feature-list">
                <ul class="list-group">
                  <li class="list-group-item">Escritorios</li>
                  <li class="list-group-item">Sillas</li>
                  <li class="list-group-item">Archivadores</li>
                  <li class="list-group-item">Mesad de Computadoras</li>
                  <li class="list-group-item">Estantes</li>
                </ul>
            </div>
            <div class="price-table-button-holder">
                                <button class="btn btn-success btn-block">
                    CONSULTAR
                </button>
            </div>
        </div>
        <div class="col-md-3 well pricing-table">
            <div class="pricing-table-holder">
                <center>
                    <img src="/wp-content/uploads/100x100.png" class="img-responsive img-circle" alt="">
                    <h3>PAPELERIA</h3>
                    <!--<p class="caption">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>-->
                </center>
            </div>

            <div class="custom-button-group" style="">
                <div class="col-md-8 col-sm-9" style="padding:0;">
                    <button type="button" class="btn btn-royal-blue btn-block dropdown-toggle" style="border-radius:0;" data-toggle="dropdown" aria-expanded="false">
                      Select Bundle
                      <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="#">Dropdown link</a></li>
                      <li><a href="#">Dropdown link</a></li>
                    </ul>
                  </div>
                <div class="col-md-4 col-sm-3" style="padding:0;">
                    <button class="btn btn-primary  btn-block" style="border-radius:0;" >
                        Get It
                    </button>
                </div>
            </div>
            <div class="pricing-feature-list">
                <ul class="list-group">
                  <li class="list-group-item">Papel de copiadoras</li>
                  <li class="list-group-item">Fax</li>
                  <li class="list-group-item">Formas Continuas</li>
                </ul>
            </div>
            <div class="price-table-button-holder">
                                <button class="btn btn-success btn-block">
                    CONSULTAR
                </button>
            </div>
        </div>
    </div>
</div>





<div class="container" style="margin-top: 10px;">
<h4 align="justify">Bienvenido a su centro de Servicio Tecnico especializado Canon y HP, con una experiencia en el manejo y reparacion de equipos de impresion digital, todos nuestros tecnicos se encuentran altamente capacitados para brindar el mejor servicio con la mayor calidad para resolver todos los problemas que su equipo presente.</h4>
</div>




<div class="row well">
        <div class="col-lg-12">
            <h1 class="page-header">asd
                <!--<small>Nosotros!</small>-->
            </h1>
            <p>asd</p>
        </div>
    </div>

<div class="container-fluid">
<div class="row" style="margin-top:10px">
<div class="col-md-5">
<h5 align="justify">Bienvenido a su centro de Servicio Tecnico especializado Canon y HP, con una experiencia en el manejo y reparacion de equipos de impresion digital, todos nuestros tecnicos se encuentran altamente capacitados para brindar el mejor servicio con la mayor calidad para resolver todos los problemas que su equipo presente.</h5>
</div>
<div class="col-md-9">
<p align="center">image</p>
</div>
</div>
</div>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.










<!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Consumibles</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Cartuchos de Tinta</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Toner Laser</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Repuestos de Impresoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Repuestos de Copiadoras</p>
            </div>



            <div class="col-lg-12">
                <h1 class="page-header">Equipos</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Fotocopiadoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Impresoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Maquinas de Escribir Electronicas</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Calculadoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Laptops</p>
            </div>



            <div class="col-lg-12">
                <h1 class="page-header">Mobiliario</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Escritorios</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Sillas</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Archivadores</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Mesas de Computadoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Estantes</p>
            </div>



             <div class="col-lg-12">
                <h1 class="page-header">Papeleria</h1>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Papel de copiadoras</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Fax</p>
            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a class="thumbnail" href="#">
                    <img class="img-responsive" src="/wp-content/uploads/400x300.png" alt="">
                </a>
                <p align="center">Formas Continuas</p>
            </div>
        </div>
</div>